<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="../static/css/my_posts.css">
</head>
<body>
        <h1>View all my posts</h1>
		<button class="button" type="button" onclick="location.href = '/{{User.id}}/'">Return to main</button>
        {%for Post in posts %}
            {%if User.id == Post.owner%}
                <div class="card">
                    <!---<p>{{Post.find_owner(Post.owner)}}</p>-->
                    <p>{{Post.title}}</p>
                    <p>{{Post.description}}</p>
                    <p>{{Post.price}}</p>
                    <p>{{Post.date}}</p>
                    {%if Post.is_active != False%}
                    <form  class="delete" action="/{{Post.post_id}}/delete/" method="POST">
                        <button class"button" type="submit">Delete</button>
                    </form>
                        <button class"button" type="button" onclick="location.href = '/{{Post.post_id}}/edit_post/{{User.id}}/'">Edit</button>
                    {%endif%}
                </div>
            {%endif%}
        {%endfor%}
</body>
</html>
