<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="../static/css/my_sold_posts.css">
</head>
<body>
    <h1>View all my sold posts</h1>
	<form class="my_sold_posts" action="/{{User.id}}/my_sold_posts/{{Post.post_id}}/" method="GET">
        <button type="button" onclick="location.href = '/{{User.id}}/'">Return to main</button>
        {%for Post in Post %}
            <div class="card">
                {%if Post.is_active == False and Post.owner == User.id%}
                    <p>{{Post.title}}</p>
                    <p>{{Post.description}}</p>
                    <p>{{Post.date}}</p>
                    <p>{{User.find_by_id(Post.user_bought).username}}</p>
                    <p>{{User.find_by_id(Post.user_bought).email}}</p>
                    <p>{{User.find_by_id(Post.user_bought).address}}</p>
                    <p>{{User.find_by_id(Post.user_bought).telephone_number}}</p>
                {%endif%}
            </div>
        {%endfor%}
</body>
</html>
