<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
    <div>
        {%if User == None%}
        <h1>Online shop</h1>
        <button type="button" onclick="location.href = '/login'">Login</button>
        <button type="button" onclick="location.href = '/register'">Register</button>
        <button type="button">All posts</button>
        {%endif%}
        {%if User != None%}
                <h1>Online shop</h1>
                <h2>You are {{User.username}}!</h2>
                <button type="button" onclick="location.href = '/{{User.id}}/my_posts/'">My posts</button>
                <button type="button" onclick="location.href = '/{{User.id}}/my_sold_posts/'">My sold posts</button>
                <button type="button" onclick="location.href = '/{{User.id}}/add_post/'">Add post</button>
                <button type="button" onclick="location.href = '/'">Log out</button>
                <p>All posts</p>
        {%endif%}
    </div>
        {%for Post in posts %}
            <div>
                {%if Post.is_active == True%}
                    <p>{{Post.find_owner(Post.owner)}}</p>

                    <p>{{Post.title}}</p>
                    <p>{{Post.description}}</p>
                    <p>{{Post.price}}</p>
                    <p>{{Post.date}}</p>
                    {%if Post.owner != User.id and User != None%}
                        <form class="buy" action="/{{User.id}}/buy/{{Post.post_id}}/">
                            <button type="submit" value="submit">Buy</button>
                        </form>
                    {%endif%}
                {%endif%}
            </div>
        {%endfor%}
</body>
</html>