<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
        <button type="button" onclick="location.href = '/{{User.id}}/'">Return to main</button>
        {%for Post in posts %}
            {%if User.id == Post.owner%}
                <div>
                    <!---<p>{{Post.find_owner(Post.owner)}}</p>-->
                    <p>{{Post.title}}</p>
                    <p>{{Post.description}}</p>
                    <p>{{Post.price}}</p>
                    <p>{{Post.date}}</p>
                    <form  class="delete" action="/{{Post.post_id}}/delete/" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                        <button type="button" onclick="location.href = '/{{Post.post_id}}/edit_post/{{User.id}}/'">Edit</button>
                </div>
            {%endif%}
        {%endfor%}
</body>
</html>