<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
    <form class="my_sold_posts" action="/{{User.id}}/my_sold_posts/{{Post.post_id}}/" method="GET">
        <button type="button" onclick="location.href = '/{{User.id}}/'">Return to main</button>
        {%for Post in Post %}
            <div>
                {%if Post.is_active == False and Post.owner == User.id%}
                    <p>{{Post.title}}</p>
                    <p>{{Post.description}}</p>
                    <p>{{Post.date}}</p>
                    <p>{{Post.user_bought}}</p>
                {%endif%}
            </div>
        {%endfor%}
</body>
</html>